body{
    margin-inline: 100px;
    padding: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > ul {
	display: flex;
	gap: 20px;
	align-items: center;
}

ul li {
    list-style: none;
}